:root {
	--primary-color: #3b3b3b;
	--secondary-color: #eeeeee;
	--link-color: #20ac64;
	--link-secondary-color: #8643b4;
}

html, body, h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
	font-size: 16px;
}


* {
	box-sizing: border-box;
}

ul {
	padding: 0 20px;
	line-height: 1.75em;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:visited, a:active {
	color: var(--link-secondary-color);
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.header-bg {
	height: 500px;
	background-image: url(https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 10%;
}

.hero {
	position: relative;
	min-height: 75px;
}

.hero-avatar {
	position: absolute;
	top: -175px;
	left: -75px;
	display: inline-block;
	width: 250px;
	height: 250px;
	background-image: url(../img/avatar_full.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 45px -20px rgba(0, 0, 0, 0.75);
	border: 5px solid #FFFFFF;
	border-radius: 50%;
}

.hero-text {
	position: absolute;
	top: -120px;
	left: 200px;
	display: inline-block;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.hero-text h1 {
	font-size: 50px;
	font-weight: 900;
}

.hero-text p {
	font-size: 24px;
	font-weight: 500;
}

main p {
	margin: 20px 0;
}

.section-row:nth-child(2n) {
	background-color: var(--secondary-color);
}

.section-row .container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.section-row .section {
	width: 50%;
}

.section {
	padding: 50px 0;
}

.section h2 {
	margin-bottom: 30px;
	font-size: 36px;
	color: var(--primary-color);
}

.section h3 {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 700;
}

.contacts-list {
	padding: 0;
	list-style: none;
}

.contacts-list li {
	padding: 8px 0;
}

.contacts-list a {
	margin-left: 10px;
}

.contacts-list i {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-right: 15px;
	background-size: 32px 32px;
}

.about {
	background-color: var(--secondary-color);
}

footer {
	padding: 40px 0;
	background-color: var(--primary-color);
	color: #FFF;
	text-align: center;
}


@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		max-width: 85%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
		max-width: 80%;
	}
}